@use "../base.scss";

.specification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.specification-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.specification-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  min-width: 25px;
  color: base.$white;
  background-color: base.$active-bg;
  font-weight: bold;
  top: 0;
  padding: 0 5px;
}

.specification-selector {
  .active {
    visibility: visible;
  }
  div {
    visibility: hidden;
  }
  .good {
    background-color: base.$success;
  }
  .ok {
    background-color: base.$warning;
  }
  .bad {
    background-color: base.$error;
  }
}

.specification:hover .specification-selector {
  .active {
    background-color: base.$active-bg;
  }
  div {
    visibility: visible;
  }
}

.result-choice {
  --goodness: 50;
  animation: base.color-mix(var(--goodness));
  color: base.$white;
  font-weight: bold;
}
