@use "../base.scss";

.specification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.specification-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.specification-selector {
  .active {
    visibility: visible;
  }
  div {
    visibility: hidden;
    color: base.$white;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 25px;
    width: 25px;
    font-weight: bold;
  }
}

.specification:hover .specification-selector {
  .active {
    background-color: base.$active-bg;
  }
  div {
    visibility: visible;
  }
}

.specification-selector-good {
  background-color: base.$success;
}

.specification-selector-ok {
  background-color: base.$warning;
}

.specification-selector-bad {
  background-color: base.$error;
}

.result-choice {
  --goodness: 50;
  animation: base.color-mix(var(--goodness));
  color: base.$white;
  font-weight: bold;
  // .good {
  //   background-color: base.$success;
  // }
  // .ok {
  //   background-color: base.$warning;
  // }
  // .bad {
  //   background-color: base.$error;
  // }
}
