$table-header-bg-color: rgb(184, 99, 99);
$table-header-color: rgb(243, 243, 243);
$table-odd-bg-color: rgb(251, 255, 197);
$table-odd-th-bg-color: rgb(244, 254, 180);
$table-even-bg-color: rgb(232, 248, 168);
$table-even-th-bg-color: rgb(227, 249, 137);

.criteria-spec-table {
  position: relative;
  border-spacing: 0;
  table-layout: fixed;
  display: block;
  overflow-x: auto;
  th,
  td {
    text-align: center;
    vertical-align: middle;
    min-width: 200px;
    height: 70px;
  }
  thead tr {
    color: $table-header-color;
    th {
      background-color: $table-header-bg-color;
    }
  }
  tbody {
    tr:nth-child(odd) {
      td {
        background-color: $table-odd-bg-color;
      }
      th {
        background-color: $table-odd-th-bg-color;
      }
    }
    tr:nth-child(even) {
      td {
        background-color: $table-even-bg-color;
      }
      th {
        background-color: $table-even-th-bg-color;
      }
    }
  }

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    //z-index: 2;
  }
}
.criteria {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .criteria-name {
    flex-grow: 1;
  }
  .criteria-value {
    border: 1px 0 1px 0;
    padding: 0 20px;
    height: max-content;
  }
}
