$table-header-bg-color: rgb(184, 99, 99);
$table-header-color: rgb(243, 243, 243);
$table-odd-bg-color: rgb(255, 255, 255);
$table-odd-th-bg-color: rgb(245, 245, 245);
$table-even-bg-color: rgb(241, 241, 241);
$table-even-th-bg-color: rgb(235, 235, 235);

.criteria-spec-table {
  position: relative;
  border-spacing: 0;
  table-layout: fixed;
  display: block;
  overflow-x: auto;
  th,
  td {
    text-align: center;
    vertical-align: middle;
    min-width: 200px;
    height: 70px;
    padding: 10px 10px;
  }
  thead tr {
    color: $table-header-color;
    th {
      background-color: $table-header-bg-color;
    }
  }
  tfoot th {
    color: $table-header-color;
    background-color: $table-header-bg-color;
  }
  tbody {
    tr:nth-child(odd) {
      td {
        background-color: $table-odd-bg-color;
      }
      th {
        background-color: $table-odd-th-bg-color;
      }
    }
    tr:nth-child(even) {
      td {
        background-color: $table-even-bg-color;
      }
      th {
        background-color: $table-even-th-bg-color;
      }
    }
  }

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    //z-index: 2;
  }
}
.criterion {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .criterion-name {
    flex-grow: 1;
  }
  .criterion-weight {
    //border: 1px 0 1px 0;
    margin: 0 10px;
  }
}
