$primary-bg-color: rgb(250, 215, 215);
$secondary-bg-color: rgb(255, 201, 240);
$main-bg-color: #fbf1e3;
$secondary-color: rgb(1, 141, 255);

$success: rgb(0, 128, 0);
$warning: rgb(249, 170, 51);
$error: rgb(160, 0, 40);
$active-bg: rgb(85, 153, 255);
$white: #fff;

@keyframes kf-color-mix {
  0% {
    background-color: #{$error};
  }
  80% {
    background-color: #{$warning};
  }
  100% {
    background-color: #{$success};
  }
}

@function color-mix($percent) {
  @return kf-color-mix 1s calc(-1s * #{$percent}) linear forwards paused;
}
